body {
  @include AvenirS;
}
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

h1 {
  @include AvenirXl;
  font-size: 110px;
  line-height: 1.03;
}
h2 {
  @include AvenirL;
  font-size: 36px;
  text-align: center;
}
h3 {
  @include AvenirM;
  font-size: 30px;
}
a {
  text-decoration: none;
  color: black;
}
.section-inner {
  max-width: 1170px;
  margin: 0 auto;
  padding-top: $base * 18;
  padding-bottom: $base * 18;
  &--wide {
    max-width: 1290px;
    padding: $base * 3 $base * 4;
  }
}
.main-title {
  color: white;
  width: 50%;
}
.description {
  display: block;
  font-size: $fs-m;
  text-align: center;
  line-height: 1.4;
  max-width: 810px;
  margin: $base * 8 auto 0;
  &--main {
    font-size: $fs-l;
    text-align: left;
    color: white;
    max-width: 670px;
    margin: $base * 8 0 0 0;
  }
}
