// @mixin AvenirS {
//   font-family: 'AvenirS', sans-serif;
// }
// @mixin AvenirM {
//   font-family: 'AvenirM', sans-serif;
// }
// @mixin AvenirL {
//   font-family: 'AvenirL', sans-serif;
// }
// @mixin AvenirXl {
//   font-family: 'AvenirXl', sans-serif;
// }

@mixin listNone {
  margin: 0;
  padding: 0;
  list-style: none;
}
