$base: 4px;
// --FONT SIZE--
$fs-xs: 14px;
$fs-s: 16px;
$fs-m: 18px;
$fs-l: 20px;
$fs-xl: 24px;
// --/FONT SIZE--

// --FONT WAIGHT--
$fw-bold: 900;
// --/FONT WAIGHT--

// --COLORS--
// --/COLORS--
$transition: 0.2s;
