@import '_fonts.scss';
@import '_variables.scss';
@import '_mixins.scss';
@import '_common.scss';
@import 'blocks/_header';
@import 'blocks/_hero';
@import 'blocks/_trainers';
@import 'blocks/_schedule';
@import 'blocks/_price';
@import 'blocks/_holiday';
@import 'blocks/_contacts';
@import 'blocks/_footer';
