.section-hero {
  background-image: url(../../img/blocks/hero/hero-bg__screen.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  padding-bottom: 200px;
  position: relative;
}
