.section-schedule {
  background-color: #f8f8f8;
}
.tabs {
  margin-top: $base * 10;
  &-header {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    &__item {
      width: 175px;
      text-align: center;
      padding: $base * 3 0;
      background-color: #fff;
      font-size: $fs-l;
      cursor: pointer;
      border: solid 1px transparent;
      &--active {
        @include AvenirL;
        border: solid 1px #f4f4f4;
        border-top: 3px solid #f5a623;
        border-bottom: transparent;
      }

      &:hover {
        border: solid 1px #f4f4f4;
      }
      &:not(:first-child) {
        margin-left: $base * 3;
      }
    }
  }
  &-content {
    width: 100%;
    border-collapse: collapse;
    border: solid 2px #e8e8e8;
    background-color: #fff;
    box-shadow: 0 2px 50px 0 rgba(74, 74, 74, 0.1);
    .fsz-l {
      font-size: $fs-l;
      font-weight: $fw-bold;
    }

    th {
      border: 1px dashed #f0f0f0;
      padding: $base * 6 0;
    }
    td {
      border: 1px dashed #f0f0f0;
      padding: $base * 4;
      &:not(:first-child) {
        width: 330px;
      }
    }
    &__person {
      border: 1px solid #e8e8e8;
      border-left: 2px solid #9b9b9b;
      border-radius: 4px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      padding: $base * 4 0 $base * 4 $base * 4;
      &-suptitle {
        font-size: $fs-xs;
        margin-left: $base * 10;
      }

      &--gray {
        border-left: 2px solid #9b9b9b;
      }
      &--green {
        border-left: 2px solid #b8e986;
      }
      &--blue {
        border-left: 2px solid #4e8df1;
      }
      &--orange {
        border-left: 2px solid #f5a623;
      }
    }
  }
}
